html, body{
    background-color: rgb(37, 34, 34);
    font: Monospace;
}
h1{
    
}
button{
    border: none;
    background: rgb(73, 95, 155);
    border-radius: 50px;
    font: Serif;
    font-weight: 100;
}

a{
    color: white;
    
}
a:link{
    text-decoration: none;
}

a:hover{
    color: lightslategray;
}

a:active{
    color: white;
}


#keys{
    font-size: 14px;
    font: Sans-Serif;
    font-weight: lighter;
    color: white;
}



